.about--hero {
  background-size: cover;
  background-position: top center;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.about--hero::after {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #000 20%, transparent);
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}

.about {
}

.about .box {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.about .content {
  flex: 1;
}

.about .poster {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 350px;
}

.about hr {
  opacity: 0.2;
}

.about .overview {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  max-width: 500px;
}

@media (min-width: 640px) {
  .about .box {
    flex-direction: row;
  }
  .about .poster {
    margin: 0 auto;
    margin-right: 2rem;
  }
}
