.feature {
  height: 100vh;
  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 0;
}

.feature::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #000 1%, transparent);
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}

.feature::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #000 1%, transparent);
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}

.feature--box {
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}

@media (min-height: 700px) or (min-width: 400px) {
  .feature--box {
    justify-content: center;
  }
}

.feature--info {
  margin-bottom: 1rem;
}

.feature--info p {
  display: inline-block;
  margin-right: 0.5rem;
}

.feature--info .info--relevance {
  color: rgb(58 175 87);
  font-weight: bold;
}

.feature--overview {
  margin-bottom: 1rem;
}

.feature--genres {
  font-style: italic;
  color: burlywood;
}

.feature--genres span {
  display: inline-block;
  margin-right: 0.5rem;
}
