.feature {
  height: 100vh;
}

.feature--cover {
  width: 100%;
  min-height: 300px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
  height: 100vh;
}

.feature--cover::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #000 1%, transparent);
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}

.feature--cover::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #000 1%, transparent);
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}

.feature--box {
  width: 600px;
  max-width: 90%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 40%;
}

@media (min-height: 700px) or (min-width: 400px) {
  .feature--box {
    /* justify-content: center; */
  }
}

.feature--overview {
  /* max-width: 70%; */
}

.feature--buttons {
  margin: 2rem 0;
}

.feature--buttons a {
  text-decoration: none;
  border: 2px solid white;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  opacity: 1;
  transition: all ease 200ms;
  color: #333;
  text-transform: capitalize;
  font-weight: bold;
}

.feature--buttons a:hover {
  opacity: 0.8;
}

.feature--buttons .mylist {
  background-color: #333;
  color: white;
}

.feature--buttons .play::before {
  content: "►";
  margin-right: 0.5rem;
}

.feature--buttons .mylist::before {
  content: "+";
  margin-right: 0.5rem;
}
