.movieRow h2 {
  text-transform: capitalize;
}

.movieRow--listarea {
  overflow-x: hidden;
  /* width: 9999px; */
  transition: all ease-in-out 300ms;
}

.movieRow--item {
  display: inline-block;
  cursor: pointer;
}

.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all 200ms ease;
  opacity: 0.6;
  border: 2px solid transparent;
}

.movieRow--item img:hover {
  transform: scale(1);
  opacity: 1;
  border-color: coral;
}

.movieRow--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movieRow--buttons button {
  margin-left: 0.5rem;
  border: none;
  background: #333;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
