.movieRow {
}

.movieRow--listarea {
  overflow-x: hidden;
  transition: all ease 500ms;
}

.movieRow--item {
  display: inline-block;
  cursor: pointer;
}

.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all 200ms ease;
  border: 2px solid transparent;
}

.movieRow--item img:hover {
  transform: scale(1);
  border-color: coral;
}

.movieRow--title {
  font-weight: bold;
  text-transform: capitalize;
}

.movieRow--arrow {
  border: none;
  background: rgba(0, 0, 0, 0.8);
  width: 3rem;
  height: 272px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all ease 300ms;
}

.movieRow--arrow img {
  width: 100%;
}

.arrow--left {
  position: absolute;
  left: 0;
}

.arrow--right {
  position: absolute;
  right: 0;
}

.movieRow:hover .movieRow--arrow {
  opacity: 1;
}
