header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all ease-in-out 200ms;
  background: transparent;
  z-index: 10;
  padding: 0.5rem 0;
}

.header--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--content a {
  text-decoration: none;
  color: white;
}

a.logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}

.header--user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header--user img {
  height: 35px;
  margin-left: 1rem;
}

header.dark {
  background: #000;
  box-shadow: 1px 1px 20px #000;
  padding: 0.5rem 0;
}

@media (min-height: 400px) {
  header {
    padding: 2rem 0;
  }
}
