@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100vh;
}

body {
  background: #000;
  color: #e1e1e1;
  z-index: 0;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}
